/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* Navigation menu styles */
.menu {
    background-color: #4CAF50;
    overflow: hidden;
}

.menu a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #45a049;
}

/* Add some space between menu items */
.menu a:not(:last-child) {
    margin-right: 10px;
}

/* Center the navigation menu */
.menu {
    display: flex;
    justify-content: center;
}

/* Make the links look like buttons */
.menu a {
    border-radius: 5px;
}

/* Style the header link "Home" differently */
.menu a:first-child {
    background-color: #333;
}

/* Make the "Home" link stand out more on hover */
.menu a:first-child:hover {
    background-color: #111;
}

/* Add a subtle shadow effect on hover */
.menu a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Header styles */
.header {
    
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

/* Main content styles */
.main-content {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

.main-content h2 {
    color: #4CAF50;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.main-content p {
    line-height: 1.8;
}

/* Style the "How You Can Help" section differently */
.main-content h2:last-child {
    margin-top: 30px;
}

.main-content ul {
    list-style: disc;
    padding-left: 20px;
}

/* Image styles */
.image-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 400px; /* Increase the width of the image */
    height: auto; /* Auto height to maintain aspect ratio */
    border: 5px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
    width: 400px; /* Set the width of the container */
    height: auto; /* Auto height to maintain aspect ratio */
    overflow: hidden;
}


/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.footer p {
    margin: 0;
}
